.bankHeader {
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: lightyellow;
    font-size: large; 
    font-weight: bold;   
}

.headerTitle{
    color: green;
    font-weight: bold;
    font-size: larger;
}

.bankName {
    color: green;
    font-size: xx-large;
    font-weight: bold;
}

.depositCreateSuccess {
    color: green;
    font-size: large;
    font-weight: bold;
}

.depositCreateError {
    color: red;
    font-size: large;
    font-weight: bold;
}