.statHeader {
    font-style: italic;
    font-weight: bold;
    font-size: medium;
}

.trHeaderNoData {
    font-style: italic;
    font-size: medium;
    background-color: red;
    color: white;
    padding: 4px;
}
.plusTran {
    color: green;
}

.minusTran {
    color: red;
}

.accountStyle {
    font-weight: bold;
    font-size: large;
}