.vtBox {
    font-size: medium;
    padding: 5px;
    background-color: lightseagreen;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.errorApiResponse {
    color : red;
    font-size: medium;
}

.successApiResponse {
    color: green;
    font-size: medium;
}

.vtModelWindow{
    color : blue;
    font-size: x-large;
}